body {
 margin: 0;
 font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 0 200px;
}
 .link {
    list-style-type: none;
    display: flex;
    gap: 15px;
 }

 a {
    text-decoration: none;
 }
 .herocontainer {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 50px 200px;
    align-items: center;
    gap: 15px;
 }

p {
    margin: 0;
}

 .herotext {
    width: 400px;
 }

 .maintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
 }

 .secondarytext, a {
    font-size: 18px;
    color: #e5e7eb;
 }

 .heroimg {
    height: auto;
    width: 300px;
 }

 button {
    padding: 5px 15px;
    margin-top: 5px;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #e5e7eb;
 }

 .item {
    width: 150px;
    text-align: center;
    margin-bottom: 50px;
   
 }
 .itempic {
    width: 150px;
    height: 150px;
    border: solid 2px #3882f6;
    border-radius: 8px;
 }

 .information {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 200px;
 }

 .informationheader {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 50px;
 }

 .container3 {
    padding: 50px 200px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;

 }

 .quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
 }

 .quotecredit {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    padding-right: 200px;
    color: #1f2937;
 }

 .ctabutton {
    border: solid 1px #e5e7eb;
 }

 .container4 {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .cta {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    background-color: #3882f6;
    width: 712px;
    margin: 50px;
    border-radius: 8px;
 }

 .ctatext {
    color: #e5e7eb;
    font-size: 20px;
    font-weight: bold;
 }

 .ctatext2 {
    color: #e5e7eb;
    font-size: 18px;
 }

 .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1f2937;
    padding: 50px;
 }

 .foottext {
    color:#e5e7eb;
 }